.sidebar{
    border-radius: 10px;
}

.right-side-bar{
    background: linear-gradient(#ffcd62, #ffa67d);
    height: calc(100vh - 40px);
}

.left-side-bar{
    background: linear-gradient(#62ffbe, #7dbaff);
    height: calc(100vh - 40px);
}

.sidebar ul li a{
    font-size: 17px;
    width: 100%;
    color: grey;
    padding: 14px 0;
    display: block;
}

.sidebar ul li{
    padding: 0 14px;
    cursor: pointer;
    text-align: start;
    transition: 0.5s;
}

.right-side-bar ul li:first-child{
    padding: 0;
}

.sidebar ul li:hover{
    border-radius: 10px;
    background-color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 0 10px #bebebe;
    font-weight: bold;
}

.disconnect-btn{
    background-color: #5900ff;
    color: #fff !important;
    font-size: 16px;
    width: 100%;
    outline: 0;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    border: 0;
    font-weight: bold;
}